{% extends 'master.html' %}

{% block content %}   

  <div class="container">
    <div class="row justify-content-center align-items-center mt-4 mb-5">
      <div class="col-lg-6 rounded p-3 bg-light">
        <h3 class="mb-4">Información de usuario</h3>
        <div class="mb-3">
            <label class="form-label">Nombre de usuario:</label>
            <p>{{ myUser.username }}</p>
        </div>
        <div class="mb-3">
            <label class="form-label">Correo electrónico:</label>
            <p>{{ myUser.email }}</p>
        </div>
        <div class="mb-3">
            <label class="form-label">ID de usuario:</label>
            <p>{{ myUser.id }}</p>
        </div>
    </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header bg-dark text-white">Transmisión en vivo</div>      
          <div class="card-body">
            <img id="camera-preview" class="rounded col-12" src="{% url 'live_video' %}" alt="">
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-success">Iniciar transmisión</a>            
            <a href="{% url 'obtenerVideo' %}" class="btn btn-danger">Terminar transmisión</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center align-items-center mb-4">
      <a href="/logout" class="text-white p-3 btn btn-primary">Cerrar sesión</a>
    </div>
  </div>

  <script>
    // Obtener el elemento de la vista previa de la cámara
    const cameraPreview = document.getElementById('camera-preview');

    // Función para encender la cámara
    function startCamera() {
        // Obtener acceso a la cámara
        navigator.mediaDevices.getUserMedia({ video: true })
            .then(stream => {
                // Establecer la fuente de la vista previa de la cámara
                cameraPreview.srcObject = stream;
            })
            .catch(error => {
                console.error('Error al obtener acceso a la cámara: ', error);
            });
    }

    // Función para apagar la cámara
    function stopCamera() {
        // Obtener todos los tracks de la cámara
        const tracks = cameraPreview.srcObject.getTracks();
        tracks.forEach(track => {
            // Detener cada track
            track.stop();
        });
        // Establecer la fuente de la vista previa de la cámara a null
        cameraPreview.srcObject = null;
    }
</script>

{% endblock %}
